/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 */
body {
    margin:  0;
    padding: 0;
}

#bg_image {
    position: absolute;
    width:  100%;
    top:    0;
    left:   0;
    overflow: hidden;
    z-index: -1;
}

#wrapper {
    position: absolute;
    z-index:  5;
}

#header {
  .hero-unit {
    background: #f6c;
    opacity: 0.6;
  }
}

#content {
  #left_info {
    background: #ffc;
    padding: 8px 8px 0 8px;
    opacity: 0.8;
  }

  #center_content {
    background: #ffc;
    padding: 8px 8px 0 8px;
    opacity: 0.8;
  }

  #right_info {
    background: #ffc;
    padding: 8px 8px 0 8px;
    opacity: 0.8;
  }
}

#user_menu {
  padding: 0 0 16px 0;
}

