/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 * require variables
 * require bootswatch
 *= require_self
 */
body {
    margin:  0;
    padding: 0;
}

#bg_image {
    position: fixed;
    min-width: 960px;
    width:  100%;
    top:    0;
    left:   0;
    overflow: hidden;
    z-index: -1;
}

#wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index:  5;
}

#header {
  .semi-hero-unit {
    border-radius: 6px;
    background: rgba(255, 187, 221, 0.5);
    padding-top: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  image {
    background: #fff;
  }
}

#left-pane {
  margin-left: 0;
}

.inset {
  padding: 8px;

  .well {
    background: #ffccee;
  }
}

.full-width {
  width: 100%;
}

.width90 {
  width: 90%;
}

.width80 {
  width: 80%;
}

.margin16-0-0-0 {
  margin: 16px 0 0 0;
}

#user-table {
  td {
    vertical-align: middle;
  }
}

#user_menu {
  margin: 0 0 16px 0;
}

.send-button {
  float: right;
}

.clear-right {
  clear: right;
}

div.ads {
  margin: 0;
  padding: 0;

  div.ad_gadget {
    margin-left: auto;
    margin-right: auto;
  }
}