/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 */
body {
    margin:  0;
    padding: 0;
}

#bg_image {
    position: fixed;
    min-width: 960px;
    width:  100%;
    top:    0;
    left:   0;
    overflow: hidden;
    z-index: -1;
}

#left-pane {
  //background: url(bg_side_0.jpg) transparent;
  background-size: cover;
  background-origin: border-box;
  background: rgba(255, 187, 221, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  min-height: 640px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px;
}

#wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index:  5;
}

#header {
  .semi-hero-unit {
    border-radius: 6px;
    background: rgba(255, 187, 221, 1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    padding-top: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;

    p {
      font-size: 120%;
      margin-top: 12px;
      color: #999;
      text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
    }
  }

  image {
    background: #fff;
  }
}

.inset {
  padding: 8px;
}

.full-width {
  width: 100%;
}

.width90 {
  width: 90%;
}

.width80 {
  width: 80%;
}

.margin16-0-0-0 {
  margin: 16px 0 0 0;
}

#user-table {
  td {
    vertical-align: middle;
  }
}

#user_menu {
  margin: 0 0 16px 0;
}

.send-button {
  float: right;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

ul.face-icon {
  list-style-image: url('list_icon.png');
  list-style-type: none;

  ul {
    list-style-image: none;
    list-style-type: disc;
  }
}

div.ads {
  margin: 0;
  padding: 0;

  div.ad_gadget {
    margin-left: auto;
    margin-right: auto;
  }

  div.ad_gadget_200 {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  div.ad_gadget_234 {
    margin-left: auto;
    margin-right: auto;
    width: 234px;
  }

  div.ad_gadget_250 {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

  div.ad_fake {
    background-color: #ddf0f8;
  }
}

table.entries {

  th.name {
    text-align: center;
    min-width:  6em;
    max-width: 12em;
  }

  tr.entry {
    td.name {
      text-align: center;

      .message-icon {
        width: 48px;
        height: 48px;
      }
    }
    td p.date {
      font-size: 80%;
      text-align: right;
    }
  }

  span.hash-tag {
    color: #c33;
  }
}

span.icon {
  white-space: nowrap;
}

.message {
  font-size: 120%;
}