/*
 *= require jquery.mobile-1.2.0.min
 *= require jquery.mobile.theme-1.2.0.min
 *= require jquery.mobile.structure-1.2.0.min
 *= require famn-theme.min
 *= require_self
 */

.message-icon {
  float: left;
  width: 48px;
  padding: 4px;
  margin: 4px;
}

.message-text {
  padding-top: 32px;
  padding-left: 0;
  //margin: 0;
  font-size: 100%;
  white-space: normal;
}

.message-name {
  font-size: 120%;
}

.clear-left {
  clear: left;
  height: 0;
}

.ui-icon-famn-add {
  background: url(famn-add.png) no-repeat transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000;
}

.ui-icon-famn-caution {
  background: url(famn-caution.png) no-repeat transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000;
}

.ui-icon-famn-compose {
   background: url(famn-compose.png) no-repeat transparent;
   border-radius: 0px;
   box-shadow: 0px 0px 0px #000;
 }

.ui-icon-famn-gear {
  background: url(famn-gear.png) no-repeat transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000;
}

.ui-icon-famn-home {
  background: url(famn-home.png) no-repeat transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000;
}

.ui-icon-famn-info {
  background: url(famn-info.png) no-repeat transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000;
}

.ui-icon-famn-users {
  background: url(famn-users.png) no-repeat transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000;
}
